<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.nextpeer.android" android:versionCode="1" android:versionName="1.0">

    <uses-sdk android:minSdkVersion="13" android:targetSdkVersion="21" />

    <application android:allowBackup="true" android:icon="@drawable/np__ic_nextpeer_logo" android:logo="@drawable/np__ic_nextpeer_logo" android:theme="@style/NP__Theme">
        
        <activity android:label="@string/np__application_name" android:name="com.nextpeer.android.NextpeerActivity" android:screenOrientation="portrait">
        </activity>
        </application>
</manifest>